{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>
	<section>
		<div class="form">
			<h1 class="form__title">Список товаров</h1>
			{{#with data}}
			{{#if isEmpty}}
			<mark>Список продуктов пустой</mark>
			<div class="nav">
				<a href="/" class="nav__button">Вернуться на начальную страницу</a>
				<a href="/user" class="nav__button">Перейти на User</a>
				<a href="/product-create" class="nav__button">Перейти на Product</a>
			</div>
			{{else}}
			<form action="/product-edit" method="post">
				<div class="form__field">
					{{#each list}}
					<div class="form__info">
						<span class="form__name">{{name}}</span>
						<span class="form__description">{{description}}</span>
						<div class="form__id">ID: {{id}}</div>
						{{!-- <div class="form__id">TIME: {{time}}</div> --}}
						<div class="form__label">
							<span class="form__price">{{price}}₴</span>
							<a href="/product-edit?id={{id}}" class="form__button">Редактировать</a>
						</div>
					</div>
					{{/each}}
				</div>
			</form>

			<div class="nav">
				<a href="/" class="nav__button">Вернуться на начальную страницу</a>
				<a href="/user" class="nav__button">Перейти на User</a>
				<a href="/product-create" class="nav__button">Перейти на Product</a>
			</div>
			{{/if}}
			{{/with}}
		</div>
	</section>




</main>






{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}