{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>
	<section>
		<div class="form">
			<h1 class="form__title">Список товаров</h1>
			{{#with data.products}}
			{{#if isEmpty}}
			<mark>Список продуктов пустой</mark>

			{{else}}
			{{#each list}}
			<div class="form__info">
				<div class="form__name">{{name}}</div>
				<div class="form__description">{{description}}</div>
				<div class="form__id">ID: {{id}}</div>
				{{!-- <div class="form__id">TIME: {{time}}</div> --}}
				<div class="form__label">
					<div class="form__price">{{price}}₴</div>
					<button class="form__button"><a href="/product-edit?id={{id}}">Редактировать</a></button>
				</div>
			</div>
			{{/each}}
			{{/if}}
			{{/with}}
		</div>
	</section>
</main>

<div class="nav">
	<a href="/" class="nav__button">Вернуться на начальную страницу</a>
	<a href="/user" class="nav__button">Перейти на User</a>
	<a href="/product-create" class="nav__button">Перейти на Product</a>
</div>






{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}